streamlit==1.32.0
moviepy==1.0.3
librosa==0.10.1
yt-dlp
deepgram-sdk==3.2.0
numpy<1.26.4
decorator<5.0.0
pydub
soundfile
kokoro-onnx
torch
TTS
pillow
opencv-python
requests
scipy
imageio
imageio-ffmpeg